header {

    ul {
        display: flex;
        width: 100%;
        margin: 25px 10%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-items: center;

        li {
            width: 33.3333%;
            align-items: center;
            @include link;
        }
    }
}